---

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row md:items-start">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Wizack es una agencia de desarrollo de software especializada en
      <strong>brindar soluciones tecnológicas personalizadas para startups, pequeñas empresas y personas con equipos informáticos</strong>
      . Desde nuestra fundación, nos hemos comprometido a transformar la manera en que nuestros clientes operan, ofreciendo herramientas que no solo simplifican sus procesos, sino que también impulsan su crecimiento y éxito.
    </p>

    <p>
      Nuestra Misión es ofrecer soluciones de software innovadoras que se adapten a las necesidades únicas de cada cliente,  
      <strong>facilitando su trabajo diario </strong>
      a través de la automatización y la tecnología avanzada.
    </p>

    <p><strong>Lo que Nos Hace Únicos:</strong></p>

    <p><strong>Enfoque en la Innovación:</strong> En Wizack, creemos que la tecnología debe estar al servicio de las personas, por eso diseñamos software que se adapta a las necesidades específicas de cada cliente, permitiendo automatizar tareas y optimizar procesos en cualquier rubro.</p>
    
    <p><strong>Versatilidad en Servicios:</strong> No solo nos especializamos en el desarrollo de software y aplicaciones móviles, sino que también ofrecemos un abanico de servicios complementarios, como la venta de licencias de software, mantenimiento de equipos informáticos y la comercialización de componentes y equipos tecnológicos.</p>

    <p><strong>Orientación al Cliente:</strong> Nuestro objetivo es hacer que nuestros clientes se sientan respaldados en cada etapa del proceso. Desde la concepción de la idea hasta la implementación y el soporte post-venta, estamos aquí para asegurarnos de que nuestras soluciones cumplan y superen sus expectativas.</p>

    <p><strong>Nuestros Servicios Incluyen:</strong></p>

    <p><strong>Desarrollo de Software y Aplicaciones:</strong> Creamos soluciones a medida que automatizan tareas y mejoran la eficiencia operativa.</p>

    <p><strong>Venta de Licencias de Software:</strong> Proveemos licencias de herramientas clave como Microsoft Office y AutoCAD, esenciales para cualquier empresa.</p>

    <p><strong>Mantenimiento de Equipos Informáticos:</strong> Nos aseguramos de que la infraestructura tecnológica de nuestros clientes esté siempre en óptimas condiciones.</p>

    <p><strong>Venta de Componentes y Equipos Informáticos:</strong> Ofrecemos los mejores productos para construir y mantener una infraestructura tecnológica robusta y confiable. </p>

    <p>
      En Wizack, no solo desarrollamos software, 
      <strong>sino que también construimos relaciones a largo plazo con nuestros clientes, basadas en la <em class="italic">confianza, la transparencia y la excelencia</em> en el servicio</strong>
      . Nuestro equipo de expertos está siempre disponible para ayudar a nuestros clientes a superar cualquier desafío tecnológico que enfrenten.
    </p>
  </div>

  <img width="200" height="200" src="https://pub-bbb93911fa15433fb34b379f5ae3f082.r2.dev/Wizack%20Profile%20Picture%20300.jpg" alt="Wizack Logo" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>